<section class="info_section ">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_form ">
                    <h5>
                        Ingrese con su cuenta
                    </h5>
                    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" >
                        <input type="email" placeholder="Enter your email" formControlName="email" >
                        <input type="password" formControlName="password" >
                        <button type="submit">
                            Login
                        </button>
                    </form>
                    <div *ngIf="pensando">

                        <mat-spinner color="accent" diameter="20"></mat-spinner>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>