<h2>Productos en el carrito</h2>

<div *ngFor="let producto of productos" style="width: 100%;" >
    <div>
        [ {{ producto.categoria }} ] {{ producto.nombre }} 
        <button (click)="quitarProducto(producto)" class="generic_button">
            Remover
        </button>

    </div>

    <div>
        {{ producto.cantidad }}
        x
        {{ producto.moneda }}
        {{ producto.precio }}
    </div>
    <hr>
</div>

<div *ngIf="productos.length > 0">
<section class="info_section ">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_form ">
                  <h5>
                    Proceder con el pago
                </h5>
                <button (click)="pagar()" class="generic_button">
                    Ir a Pagar
                </button>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>
