<section class="info_section ">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_form ">

                    <h5>
                        Informacion para el Envio
                    </h5>
                    <form [formGroup]="informacionForm">
                        <div>
                            Nombre Envio<br />
                        <input type="text" placeholder="Nombre Envio" formControlName="NombreEnvio" >
                        </div>
                        <div>
                            Apellido Envio<br />
                        <input type="text" placeholder="Apellido Envio" formControlName="ApellidoEnvio" >
                        </div>
                        <div>
                            Direccion Envio<br />
                        <input type="text" placeholder="Direccion Envio" formControlName="DireccionEnvio" >
                        </div>
                        <div>
                            Telefono<br />
                        <input type="text" placeholder="Telefono Envio" formControlName="TelefonoEnvio" >
                        </div>
                        
                        <div>
                            Codigo Postal Envio<br />
                        <input type="text" placeholder="Codigo Postal Envio" formControlName="CodigoAreaEnvio" >
                        </div>

                        <div>    
                            Ciudad Envio<br />
                        <select formControlName="ddmunicipios" id="ddmunicipios" (change)="onCotizar()" style="width:200px;">
                            <option *ngFor="let municipio of municipios" [value]="municipio.idCodDane">
                                {{municipio.municipioDepartameto}}
                            </option>
                        </select>                      
                        </div>

                        <div>    
                            Transportadora<br />
                        <select formControlName="ddtransportadores" id="ddtransportadores" (change)="onCotizar()" style="width:200px;">
                            <option *ngFor="let transportador of transportadores" [value]="transportador.id">
                                {{transportador.nombre}}
                            </option>
                        </select>                      
                        </div>

                    </form>


                </div>
            </div>            
            <div class="col-md-3">
                <div class="info_form ">

                    <h5>
                        Facturacion
                    </h5>
                    <form [formGroup]="facturacionForm">

                        <div>    
                            Tipo de Pago<br />
                        <select formControlName="medios" id="medios" #mySelect (change)="onMediosChange(mySelect.value)" style="width:200px;">
                            <option *ngFor="let medio of medios" [value]="medio.id">
                                {{medio.desMedioPago}}
                            </option>
                        </select>                      
                        </div>
                        <div *ngIf="mostrarCC" >
                            <div>
                                Titular<br />
                            <input type="text" placeholder="Titular" formControlName="CCtitular" >
                        </div>

                        <div>

                            Tipo Tarjeta<br />

                            <select formControlName="CCtipo" style="width:200px;">
                                <option value="VI">Visa</option>
                                <option value="MC">Master Card</option>
                                <option value="AE">AMEX</option>
                                <option value="DC">Discover</option>
                              </select>

                        </div>
    
                        <div>
                            Numero<br />
                        <input type="text" placeholder="NUMERO" formControlName="CCnumero" >
                    </div>
                    <div>
                            Expiracion<br />
                        <input type="text" placeholder="MM/YY" formControlName="CCvencimiento" >
                    </div>
                        <div>
                            CCV<br />
                        <input type="text" placeholder="CCV" formControlName="CCV" >
                        </div>
                    </div>

                        <div>
                            Documento Facturacion<br />
                        <input type="text" placeholder="Direccion Facturacion" formControlName="NumeroDocumentoCliente" >
                        </div>
                        <div>
                            Telefono Facturacion<br />
                        <input type="text" placeholder="Telefono Facturacion" formControlName="TelefonoFacturacion" >
                        </div>
                        <div>
                            Direccion Facturacion<br />
                        <input type="text" placeholder="Direccion Facturacion" formControlName="DireccionFacturacion" >
                        </div>
                        <div>
                            Correo Electronico Facturacion<br />
                        <input type="text" placeholder="Email Facturacion" formControlName="CorreoElectronicoFacturacion" >
                        </div>
                    </form>

                </div>
            </div>            
            <div class="col-md-3">
                <div class="info_form ">


                    <h5>
                        Detalle del pago
                    </h5>
                    <div *ngIf="cotizar">
                        <h5>
                            Unidades: {{ cotizar.unidades }}    
                        </h5>
                        <h5>
                            Neto: {{ cotizar.moneda }} {{ cotizar.neto }}  
                        </h5>
                        <h5>
                            Impuestos: {{ cotizar.moneda }} {{ cotizar.impuesto }}
                        </h5>
                        <h5>
                            Transporte: {{ cotizar.moneda }} {{ cotizar.transporte }}
                        </h5>
                        <h5>
                            Total: {{ cotizar.moneda }} {{ cotizar.total }} 
                        </h5>
                    </div>

                    <div *ngIf="!pensando">

                    <button class="generic_button" (click)="pagarOrden()">
                        Pagar
                    </button>

                    </div>

                    <div *ngIf="pensando">

                        <mat-spinner color="accent" diameter="20"></mat-spinner>
            
                      </div>

                </div>
            </div>            
        </div>
    </div>
</section>